.env
.venv
env/
.venv/
topic_modeling/mlp.py
topic_modeling/datasets/archive
topic_modeling/datasets/goal
topic_modeling/datasets/review_polarity
topic/modeling/datasets/Books_rating.csv
sentiment/datasets/stanfordSentimentTreebank
topic_modeling/requirements.txt
.gitignore
topic_modeling/__pycache__/mlp.cpython-311.pyc
topic_modeling/__pycache__/logisticreg.cpython-311.pyc
topic_modeling/__pycache__/lda_lsa.cpython-311.pyc
topic_modeling/__pycache__/preprocessing.cpython-311.pyc
.gitignore
topic_modeling/__pycache__/plotting.cpython-311.pyc
topic_modeling/__pycache__/models.cpython-311.pyc
topic_modeling/datasets/Books_rating.csv
__pycache__
.DS_Store
